<p><%= @resource.name %>様</p>

<p>パスワードリセットのリクエストを受け付けました。</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリンクの有効期限は <%= Devise.reset_password_within / 3600 %>時間です。</p>

<p>※このメールに心当たりがない場合は、このメールを無視してください。</p>

<hr>

<p>wishly</p>